# ---------------------------
# ticket 8737
# change the "payrollweb" per .htaccess file per payrollweb folder in RewriteRule line
# if payrollweb folder is c:/xampp/htdocs/payrollweb_co/
# then RewriteRule should be "RewriteRule . /payrollweb_co/ [L,R=301]"
# ---------------------------

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /payrollweb/ [L,R=301]

